.social-icons {
    background-color: bisque;
    display: flex;
    margin-bottom: 20px;
    
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 50px; 
    flex-direction: column;
  

    
  
  }

  .social-list {
    padding: center;
  }
  